a {
  text-decoration: inherit;
  color: inherit;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  padding: 10px;
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--onprimray);
  background-color: var(--primary);
}

.header > p {
  font-size: 2.5em;
}
